a. link {
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    list-style-type: none;

}


table{
    width: 100%;
    align-content: center;
}

td{
    text-align: center;
}
