.header {
    background-image: url(img/Banner.jpg);
    color: #fff;
    height:100px;
    text-align: center;
}
body {
    width : 1200px;
    margin: auto;

}
section {
    background-color: lightblue;
}
img {
    max-width: 100%;
    height: auto;
}
section h1{
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    text-decoration: underline;

}
h1{
    font-weight: bold;
    padding: 20px;
    text-decoration: underline;
}
.img {
    width:  200px;
    height: 200px;
    background-size: cover;
}